<div class="panel panel-default">
<ul class="list-group">
<a data-ng-repeat="qualifierItem in qualifiers" class="list-group-item" data-ng-click="listParlamentos(qualifierItem.qualifierValue)">
	<span class="badge alert-danger ng-binding ng-hide" data-ng-show="qualifierItem.countAlerts>0 ">
		0
	</span>
	<span class="badge alert-warning ng-binding ng-hide" data-ng-show="qualifierItem.countWarnings>0 &amp;&amp; qualifierItem.countAlerts==0 ">
		0
	</span>
	<div data-ng-class="{h4: qualifierItem.qualifierValue==qualifierValue }" >
		{{qualifierItem.qualifierName}}
	</div>
	<span style="font-size: 70%; color: #aaa;" data-ng-show="qualifierItem.countItems==0">Não há parlamentos cadastrados</span>
	<span style="font-size: 70%; color: #aaa;" data-ng-show="qualifierItem.countItems==1">1 parlamento</span>
	<span style="font-size: 70%; color: #aaa;" data-ng-show="qualifierItem.countItems>1">{{qualifierItem.countItems}} parlamentos</span>
</a>
</ul>
</div>

<div class="panel panel-default">
<div class="panel-body" >
<ul class="list-group">
<li class="list-group-item">
Senado Federal
</li>
</ul>
</div>
</div>

<div class="panel panel-default">
<div class="panel-body" >
<ul class="list-group">
<li class="list-group-item">
Câmara Federal
</li>
</ul>
</div>
</div>
