[#ftl]
<div class="security-container"  >
    <!-- login-redirect-token -->
	[#--
	 # Logo
	 #--]
    [#include "../config/login-splash.html" /]
	<h3 align="middle">Bem vindo ao <strong>Politikei</strong></h3>
	<br/>
	<script >
		var email = [#if email??]'${email}' [#else]''[/#if];
		var signed = false;
	</script>
    <div class="panel panel-default">
        <!-- E-MAIL SIGNIN -->
        <div class="panel-body">
            <form  name="form" action="/login" method="POST">

                [#--
                 # CSRF
                 #--]
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                [#--
                 # Context id
                 #--]
                <input type="hidden" name="contextId" value="${contextId!1}" />

                [#if error?? ]
                    [#if user?? && !user.accountNonExpired  ]
                        <!--
                         ! Inactive user
                         !-->
                        <div class="alert alert-danger" role="alert">
                            <i class="fa fa-lock"></i> {{'_INACTIVE_USER'|common}}
                        </div>
                    [#else]
                        <!--
                         ! Login error
                         !-->
                        <div class="alert alert-danger" role="alert">
                            <i class="fa fa-lock"></i> {{'_LOGIN_ERROR'|common}}
                        </div>
                    [/#if]
                [/#if]
                [#if errorNumber?? ]
                    [#if errorNumber=='403'  ]
                        <!--
                         ! Inactive user
                         !-->
                        <div class="alert alert-danger" role="alert">
                            {{'_ERROR_403'|common}}
                        </div>
                    [/#if]
                [/#if]

                [#if userConfirmed?? ]
                        <div class="alert alert-success" role="alert"><i class="fa fa-unlock"></i>{{'USER_ACTIVE'|common}}</div>
                [/#if]
                [#if emailRecoverySent?? ]
                        <div class="alert alert-warning" role="alert">{{'_CHECK_EMAIL'|common}} </div>
                [/#if]
                [#if recoveryFail?? ]
                    <div class="alert alert-danger" role="alert">{{'FAILED_TO_CHANGE_PASSWORD'|common}} </div>
                [/#if]

                <div id="form-group-email" class="form-group">
                    <input type="email"  required="" name="username"  data-ng-model="username" placeholder="E-mail" class="form-control">
                </div>
                <div id="form-group-password" class="form-group">
                    <input type="password"  required="" name="password" data-ng-model="password" placeholder="{{'PASSWORD'|common}}" class="form-control">
                </div>

                <!--
                 ! Forgot password
                 !-->
                <div class="row">
                    <div class="col-md-6">
                        <p><input type="checkbox" name="remember-me" > {{'_LOGIN_REMEMBER'|common}}</p>
                    </div>
                    <div class="col-md-6">
                        <a target="_self" class="pull-right" data-ng-href="/recovery/">{{'_LOGIN_FORGOT'|common}}</a>
                    </div>
                </div>

                <!--
                 ! Submit
                 !-->
                <button type="submit" class="btn btn-primary" style="width: 100%" >{{'_CONTINUE'|common}}</button>
            </form>
        </div><!-- panel body -->
    </div>
    <div class="row">
        <div class="col-md-12 text-center"><p>{{'_OR'|common}}</p></div>
    </div>
    <div class="panel panel-default">
        <!-- FACEBOOK SIGNIN -->
        <div class="panel-body">
            <form name="fb_signin" id="fb_signin" action="/signin/facebook" method="POST" class="ng-pristine ng-valid">
                <input type="hidden" name="_csrf" value="${_csrf.token}" />
                <input type="hidden" name="scope" value="public_profile, email, user_photos,publish_actions,user_location">
                <button type="submit" class="btn btn-default btn-facebook btn-block" ><i class="fa fa-facebook"></i> {{'LOGIN_WITH'| i18n}} Facebook</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5><a class="pull-right" href="/signup/">{{'_LOGIN_CREATE'|common}}</a></h5>
            <h5 style="font-weight: bold;">{{'_LOGIN_JOIN'|common}}</h5>
        </div>
    </div>
</div>
