[#ftl]
<div class="security-container" data-ng-cloak >
	<script >
		var signed = false;
	</script>
	[#--
	 # Logo
	 #--]
	[#include "../config/login-splash.html" /]
    <h3 class="text-center">{{'CHANGE_PASSWORD'|common}}</h3>

	[#if recoveryFail?? ]<div class="alert alert-danger" role="alert"><p>{{'FAILED_TO_CHANGE_PASSWORD'|common}}</p> </div>[/#if]
	[#if recoveryFailMsg?? ]<div class="alert alert-warning" role="alert">[@spring.message "${recoverFailMsg}" /] </div>[/#if]
    
	<div class="panel panel-default">
		<div class="panel-body">
			<form method="POST" name="form"  id="change" action="/change">
				[#--
				 # CSRF
				 #--]
				<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
				<input type="hidden" name="confirmationToken" value="[#if confirmationToken??]${confirmationToken}[/#if]" >
				<password-checker password="password" cpassword="cpassword" ></password-checker>
				<div id="form-group-password" class="form-group">
					<input type="password"  required="" name="password"  id="password" data-ng-model="password" placeholder="{{'PASSWORD'|common}}" class="form-control">
				</div>
				</br>
				<div id="form-group-passwordc" class="form-group">
					<input type="password"  required="" name="cpassword" id="cpassword" data-ng-model="cpassword" placeholder="{{'PASSWORD_CONFIRMATION'|common}}" class="form-control">
				</div>
				</br>
				<button type="submit" class="btn btn-primary" style="width: 100%;" data-ng-disabled="cannotChangePassword"> {{'CHANGE_PASSWORD'|common}}</button>
			</form>
		</div>
		<div class="panel-footer">
			<div class="row">
				<div class="col-md-6">
					<h5>Home Page</h5>

				</div>
				<div class="col-md-6">
					<h5><a class="pull-right" href="/home">Home</a></h5>
				</div>
			</div>

		</div>
	</div>
    <footer class="footer" data-ng-include="'/asssets/security/legal.html'"></footer>
</div>