<div class="panel panel-default" data-ng-controller="EntityController as entityCtrl">

<div class="panel-heading" >
<a href="/app/parlamento" class="btn btn-primary pull-right">Mais plenários...</a>
<h2>{{authorizedEntity.summary}}</h2>
</div>
<div class="panel-body" >
<div class="alert">Estatísticas de votação...</div>
<ul class="list-group" >
  <li data-ng-repeat="item in documentos" class="list-group-item" >
	<div class="row">  
	  	<div class="col-md-10">
            <p class="titulo-timeline">
              <span class="projeto">PROJETO DE LEI N° {{item.docCode}}</span>
              <span class="autor">{{item.authorName}}</span>
            </p>
            <p class="conteudo-timeline">{{item.docName}}</p>
            <a href="" data-ng-click="getDocumento(item.id)" class="vermais-timeline">
              Ver Mais
            </a>
           <a href=""  data-ng-click="getVotoDetails(item.id)"  class="btn btn-primary pull-right">Resultado</a>
	  	</div>
	  	<div class="col-md-2">{{item.nextCheckDate | date:'shortDate'}}
	  	</div>
  	</div>
  </li>
</ul>

</div>
</div>
